
// variables

$p-text: rgb(85,85,85);
$nav-text-color: rgb(7, 7, 7);
$primary-black: black;
$primary-white: white;
$btn-border: rgb(53, 53, 53) 0.1rem solid;
$btn-border-white: rgb(255, 255, 255) 0.1rem solid;
$btn-background: rgb(53, 53, 53);
