@use '../abstracts/' as *;


#experience {
    position:relative;
}

.about-containers {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: $primary-white;
    border-radius: 2rem;
    border: $btn-border;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.expereince-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience-sub-title {
    color: $p-text;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap; //when the container becomes too small the elements will wrap and fit into container
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    article {
        display: flex;
        width: 10rem;
        justify-content: space-around;
        gap: 0.5rem;
        .icon {
            cursor: default;
        }
    }
}

